@using AIStoryBuilders.Model;
@using AIStoryBuilders.Models;
@using AIStoryBuilders.Pages.Controls
@using AIStoryBuilders.Services;
@inherits OwningComponentBase
@inject NotificationService NotificationService
@inject DialogService DialogService
<RadzenRow Gap="1rem">
    <RadzenColumn Size="12" SizeSM="12">
        <RadzenStack>
            <RadzenFormField Text="Character Name:" Variant=Variant.Outlined>
                <RadzenTextBox @bind-Value="@objCharacter.CharacterName" />
            </RadzenFormField>
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
<RadzenRow Gap="1rem">
    <RadzenColumn Size="8" SizeSM="8">
        <RadzenStack>
            <RadzenFormField Text="Background Type:" Variant=Variant.Outlined>
                <RadzenDropDown Data=@colTypes @bind-Value="@strType" Change="OnTypeChanged" />
            </RadzenFormField>
        </RadzenStack>
    </RadzenColumn>
    <RadzenColumn Size="4" SizeSM="4">
        <RadzenStack>
            <RadzenButton Text="Add Background" ButtonStyle="ButtonStyle.Secondary"
                          Click="AddBackground"
                          Style="margin-top: 10px; width: 150px" />
        </RadzenStack>
    </RadzenColumn>
</RadzenRow>
<br />
<div style="height:200px; overflow-y: scroll;border-width:0px">
    <RadzenDataList Data="@colCharacterBackground" TItem="CharacterBackground">
        <Template Context="characterbackground">
            <RadzenCard Style="width: 100%; padding: 1;">
                <RadzenRow Gap="0">
                    <RadzenColumn Size="2">
                        <RadzenButton Text="Edit" Click=@(() => EditBackground(characterbackground))
                                      ButtonStyle="ButtonStyle.Light" Style="width: 75px;height: 20px" />
                    </RadzenColumn>
                    <RadzenColumn>
                        <RadzenText TextStyle=TextStyle.Body2>@(characterbackground.Description)</RadzenText>
                    </RadzenColumn>
                </RadzenRow>
            </RadzenCard>
        </Template>
    </RadzenDataList>
</div>

<br />
<br />
<div class="row">
    <div class="col">
        <RadzenButton Text="Save" ButtonStyle="ButtonStyle.Success"
                      Click="CharacterSave"
                      Style="margin-bottom: 10px; width: 150px" />&nbsp;&nbsp;
        @if (objCharacter.Id > 0)
        {
            <RadzenButton Text="Delete" ButtonStyle="ButtonStyle.Danger"
                          Click="CharacterDelete" />
        }
    </div>
</div>
@code {
    [Parameter] public Character objCharacter { get; set; }
    [Parameter] public DialogService DialogReference { get; set; }

    AIStoryBuildersService AIStoryBuildersService;
    OrchestratorMethods OrchestratorMethods;

    IEnumerable<CharacterBackground> colCharacterBackground = new List<CharacterBackground>();
    List<string> colTypes = new List<string>();
    string strType = "Appearance";

    protected override void OnInitialized()
    {
        AIStoryBuildersService = (AIStoryBuildersService)ScopedServices.GetService(typeof(AIStoryBuildersService));
        OrchestratorMethods = (OrchestratorMethods)ScopedServices.GetService(typeof(OrchestratorMethods));

        // Add colTypes
        colTypes = new List<string>()
                    {
            "Appearance",
            "Goals",
            "History",
            "Aliases",
            "Facts"
                    };

        colCharacterBackground = objCharacter.CharacterBackground.Where(x => x.Type == @strType);
    }

    private void CharacterSave()
    {
        try
        {
            if (objCharacter.CharacterName != null)
            {
                if (objCharacter.CharacterName.Length < 1)
                {
                    NotificationService.Notify(
                        new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "Error",
                            Detail = "Character Name is required",
                            Duration = 4000
                        });

                    return;
                }
                else
                {
                    // Always remove any pipe (|) characters
                    objCharacter.CharacterName = objCharacter.CharacterName.Replace("|", "");

                    if (objCharacter.Id == -1)
                    {
                        // Add to the database
                        //await Service.AddCharacterAsync(objCharacter);
                    }
                    else
                    {
                        // Save to the database
                        //await Service.UpdateCharacterAsync(objCharacter);
                    }

                    DialogService.Close(null);
                }
            }
            else
            {
                NotificationService.Notify(
        new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = "Character Name is required",
                    Duration = 4000
                });
                return;
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = ex.Message,
                        Duration = 4000
                    });
        }
    }

    private async Task CharacterDelete()
    {
        try
        {
            // Ask for confirmation:
            var confirmResult = await DialogService.Confirm("Are you sure?", "Delete Character",
          new ConfirmOptions() { OkButtonText = "Yes", CancelButtonText = "No" });

            if (confirmResult.HasValue && confirmResult.Value)
            {
                // Delete from the database
                //await Service.DeleteCharacterAsync(objCharacter.Id);

                DialogService.Close(null);
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = "Error",
                        Detail = ex.Message,
                        Duration = 4000
                    });
        }
    }

    private void OnTypeChanged()
    {
        colCharacterBackground = objCharacter.CharacterBackground.Where(x => x.Type == @strType);
        DialogReference.Refresh();
    }

    private async Task AddBackground()
    {
        try
        {
            CharacterBackground NewCharacterBackground = new CharacterBackground();
            NewCharacterBackground.Type = strType;

            await EditBackground(NewCharacterBackground);

        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 4000
                });
        }
    }

    private async Task EditBackground(CharacterBackground paramCharacterBackground)
    {
        try
        {
            var EditStoryResult = await DialogService.OpenAsync(
            $"Edit Character Background  - {strType}", ds =>
            @<CharacterBackgroundEdit objCharacterBackground=paramCharacterBackground objStory="objCharacter.Story" DialogReference="ds"></CharacterBackgroundEdit>
            , new DialogOptions() { Height = "300px", Width = "500px" });

            StateHasChanged();
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 4000
                });
        }
    }
}