@using AIStoryBuilders.Models;
@inject NotificationService NotificationService
@inject DialogService DialogService
<p><b>Description:</b> <RadzenDropDown Data=@colDescriptions @bind-Value="@objCharacterBackground.Description" /></p>
<p> <RadzenTextBox @bind-Value="@objCharacterBackground.ParagraphContent" /></p>
@code {
    [Parameter] public CharacterBackground objCharacterBackground { get; set; }
    [Parameter] public CharacterBackgroundType objCharacterBackgroundType { get; set; }

    List<string> colDescriptions = new List<string>();

    protected override void OnInitialized()
    {
        try
        {
            // Add colDescriptions
            colDescriptions = new List<string>()
            {
                "Appearance",
                "Goals",
                "History"
            };
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 4000
                });
        }
    }
}
