@using AIStoryBuilders.Models;
<div class="rz-p-sm-12 rz-text-align-center">
    <RadzenListBox TValue=Character Data=@colCharacters TextProperty="CharacterName" ValueProperty="CharacterName"
                   Multiple=true AllowClear=true Placeholder="Select Charcters" Style="width: 100%; max-width: 400px; height: 200px" />

@*     <RadzenListBox TValue=Character @bind-Value=@SelectedCharacters Data=@colCharacters TextProperty="CharacterName" ValueProperty="CharacterName"
                   Multiple=true AllowClear=true Placeholder="Select Charcters" Style="width: 100%; max-width: 400px; height: 200px" /> *@
</div>

@code {
    [Parameter] public List<Character> colCharacters { get; set; }
    [Parameter] public DialogService DialogReference { get; set; }
    [Parameter] public IEnumerable<string> SelectedCharacters { get; set; }
}
