@using AIStoryBuilders.Models;
<div Style="height:190px;overflow:auto;">
    <RadzenListBox Data=@colCharacters @bind-Value=@SelectedCharacters
                   Multiple=true AllowClear=true AllowSelectAll=false Style="width: 100%; height: 100%" />
</div>
<br />
<div class="rz-text-align-center">
    <RadzenButton Text="Close" ButtonStyle="ButtonStyle.Secondary"
                  Click=@CloseDialog />
</div>
@code {
    [Parameter] public IEnumerable<string> colCharacters { get; set; }
    [Parameter] public DialogService DialogReference { get; set; }
    [Parameter] public IEnumerable<string> SelectedCharacters { get; set; }

    private void CloseDialog()
    {
        DialogReference.Close(SelectedCharacters);
    }
}
