@using AIStoryBuilders.Models;
<div class="rz-text-align-center">
    <RadzenDropDown Data=@colLocations TextProperty="LocationName" @bind-Value="@SelectedLocation" />
</div>
<br />
<div class="rz-text-align-center">
    <RadzenButton Text="Close" ButtonStyle="ButtonStyle.Secondary"
                  Click=@CloseDialog />
</div>
@code {
    [Parameter] public IEnumerable<Location> colLocations { get; set; }
    [Parameter] public DialogService DialogReference { get; set; }
    [Parameter] public Location SelectedLocation { get; set; }

    private void CloseDialog()
    {
        DialogReference.Close(SelectedLocation);
    }
}