@using AIStoryBuilders.Models;
<div class="rz-text-align-center">
    <RadzenDropDown Data=@colTimelines @bind-Value="@SelectedTimeline" />
</div>
<br />
<div class="rz-text-align-center">
    <RadzenButton Text="Close" ButtonStyle="ButtonStyle.Secondary"
                  Click=@CloseDialog />
</div>
@code {
    [Parameter] public IEnumerable<string> colTimelines { get; set; }
    [Parameter] public DialogService DialogReference { get; set; }
    [Parameter] public string SelectedTimeline { get; set; }

    private void CloseDialog()
    {
        DialogReference.Close(SelectedTimeline);
    }
}