@page "/"
@using AIStoryBuilders.Models;
@using AIStoryBuilders.Services;
@inject IConfiguration _configuration
@inject DialogService dialogService
@*
    Using OwningComponentBase ensures that the service and related services
    that share its scope are disposed with the component.
    Otherwise DbContext in AIStoryBuildersService will live for the life of the
    connection, which may be problematic if clients stay
    connected for a long time.
    We access AIStoryBuildersService using @Service
*@
@inherits OwningComponentBase<AIStoryBuildersService>
<PageTitle>Index</PageTitle>

<h4>@Status</h4>
@code {
    string Status = "";
    List<Story> colStorys = new List<Story>();

    string Organization = "";
    string ApiKey = "";

    // Initialize the component by setting the organization and API key
    protected override void OnInitialized()
    {
        Organization = _configuration["OpenAIServiceOptions:Organization"] ?? "";
        ApiKey = _configuration["OpenAIServiceOptions:ApiKey"] ?? "";
    }

    protected override async Task OnInitializedAsync()
    {
        // Get the Storys from the database
        colStorys = await @Service.GetStorysAsync();

        Status = $"Loaded {colStorys.Count} Storys";
    }
}