@using AIStoryBuilders.Models;
@inject NotificationService NotificationService
@inject DialogService DialogService
@if (ControlType == ControlType.Character)
{
    <p>@objCharacterBackground.Type</p>
    <p>@objCharacterBackground.Description</p>
    <p>@objCharacterBackground.ParagraphContent</p>
}
@code {
    [Parameter] public object ControlValue { get; set; }
    [Parameter] public ControlType ControlType { get; set; }

    CharacterBackground objCharacterBackground = new CharacterBackground();
    Location objLocation = new Location();
    Chapter objChapter = new Chapter();

    protected override void OnInitialized()
    {
        try
        {
            switch (ControlType)
            {
                case ControlType.Character:
                    objCharacterBackground = (CharacterBackground)ControlValue;
                    break;
                case ControlType.Location:
                    objLocation = (Location)ControlValue;
                    break;
                case ControlType.Chapter:
                    objChapter = (Chapter)ControlValue;
                    break;
                default:
                    break;
            }
        }
        catch (Exception ex)
        {
            NotificationService.Notify(new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error",
                    Detail = ex.Message,
                    Duration = 4000
                });
        }
    }
}
